<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.GoodsMapper">
    <resultMap id="goodsResultMap" type="pojo.Goods">
        <id column="goods_id" property="goodsID" />
        <result column="goods_store" property="goodsStore" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_photo_url" property="goodsPhotoURL" />
        <result column="goods_describe" property="goodsDescribe" />
        <result column="goods_price" property="goodsPrice" />
        <result column="goods_sale_amount" property="goodsSaleAmount" />
    </resultMap>

    <insert id="createGoods" useGeneratedKeys="true" keyProperty="goodsID">
        insert into goods set
        goods_store = #{goodsStore},
        goods_name = #{goodsName},
        goods_price = #{goodsPrice}
        <if test="goodsPhotoURL != null and goodsPhotoURL != ''">
            ,goods_photo_url = #{goodsPhotoURL}
        </if>
        <if test="goodsDescribe != null and goodsDescribe != ''">
            ,goods_describe = #{goodsDescribe}
        </if>
        <if test="goodsSaleAmount != null">
            ,goods_sale_amount = #{goodsSaleAmount}
        </if>
    </insert>
    <delete id="deleteGoods">
        delete from goods
        where goods_id = #{goodsID}
    </delete>
    <select id="getGoodsByID" resultMap="goodsResultMap">
        select *
        from goods
        where goods_id = #{goodsID}
    </select>
    <update id="updateGoods">
        update goods
        set
        <if test="goodsStore != null and goodsStore != ''">
            goods_store = #{goodsStore},
        </if>
        <if test="goodsName != null and goodsName != ''">
            goods_store = #{goodsName},
        </if>
        <if test="goodsPhotoURL != null">
            goods_photo_url = #{goodsPhotoURL},
        </if>
        <if test="goodsDescribe != null and goodsDescribe != ''">
            goods_describe = #{goodsDescribe},
        </if>
        <if test="goodsPrice != null and goodsPrice != ''">
            goods_price = #{goodsPrice},
        </if>
        <if test="goodsSaleAmount != null">
            goods_sale_amount = #{goodsSaleAmount}
        </if>
        where goods_id = #{goodsID}
    </update>
    <select id="getAllGoodsOfStore" resultMap="goodsResultMap">
        select *
        from goods
        where goods_store = #{storeName}
    </select>

</mapper>