<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <resultMap id="userResultMap" type="pojo.User">
        <id column="user_name" property="userName" />
        <result column="user_password" property="userPassword" />
        <result column="account_type" property="userType" />
    </resultMap>

    <insert id="createUser">
        insert into user set
        user_name = #{name},
        user_password = #{password}
        <if test="accountType != null">
            ,account_type = #{accountType}
        </if>
    </insert>
    <delete id="deleteUser">
        delete from user
        where user_name = #{name}
    </delete>
    <select id="getPasswordByName" resultType="java.lang.String">
        select user_password
        from user
        where user_name = #{userName}
    </select>
    <select id="getAccountTypeByName" resultType="java.lang.Integer">
        select account_type
        from user
        where user_name = #{userName}
    </select>
    <select id="hasAccount" resultType="java.lang.String">
        select user_name
        from user
        where user_name = #{userName}
    </select>
    <select id="getUserByName" resultMap="userResultMap">
        select user_name,user_password,account_type
        from user
        where user_name = #{name}
    </select>
</mapper>